.projects{
    background: #f5f7f9;
    height: 100vh;
}

.heading{
    padding-top:10vh;
    padding-left:10vw;
    font-size:3em;
}
.workSections{
    width:70%;
    max-width: 70%;
    margin-top:5vh;
    margin-left:15%;
    background:white;
    text-align: center;
    padding-bottom: 5vh;
}
.workImgs{
    width:100%;
}
.discription{
    width:80%;
    text-align: center;
    padding-left:10%;
    position: relative;
}
.viewCode {
    background-color:  rgb(39, 39, 39);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}
  
.viewCode:hover {
    background-color: black;
}
  
@media screen and (max-width:1200px){
    
}

@media screen and (max-width:550px){
    .heading{
        padding-top:5vh;
        font-size:2.5em;
        float:center;
    }
    .workImgs{
        display: none;
    }
}