@font-face{
    font-family: 'Balamoa Normal';
    src: url(./fonts/Balamoa.ttf);
  }
  


.projects{
    background: #f5f7f9;
    padding-bottom: 2vh;
}

.heading{
    font-family: 'Balamoa Normal';
    padding-top:10vh;
    text-align: center;
    font-size:5em;
}
.projectWrap{
    width:100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.project{
    border: 2px solid black;
    margin: 5%;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.projectBGShade{
    background: rgba(0,0,0,0.6);
    padding-top: 15vh;
    padding-bottom: 15vh;
    width:inherit;
    height: inherit;
}
.projectName{
    font-family: 'Whiskey Bite';
    font-size: 2em;
    margin-bottom:5%;
}
.tagline{
    font-family: 'Balamoa Normal';
    font-size: 2em;
}
.viewButton {
    border: 2px solid white;
    padding: 0.5em;
    font-family: 'Whiskey Bite';
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    position: relative;
}
.viewButton:hover{
    cursor: pointer;
}
#project1{
    background-image: url(./imgs/projects/raksBG2.jpg);
}
#project2{
    background-image: url(./imgs/projects/nyboBG.png);
}
#project3{
    background-image: url(./imgs/projects/notebook1.png);
}
.internship{
    width:55%;
}
.popup{
    width: 100vw;
    margin: 0;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top:0;
    left: 0;

}
.content{
    width:10vw;
    background-color: white;
    color: black;
}
.closePopup{
    color: white;
    cursor: pointer;
}
  
@media screen and (max-width:1200px){
    .heading{
        padding-top:5vh;
        font-size:5em;
        float:center;
    }
    .workSections{
        width:90%;
        margin-left:5%;
    }
    .discription{
        text-align: center;
        position: relative;
        padding-top:5vh;
        margin-bottom: 2em;
    }
    .workTitle{
        float:left;
        padding-left:10%;
        font-size:1.5em;
    }
    .internship{
        width:80%;
    }
}

@media screen and (max-width:550px){
    .internship{
        width:100%;
    }
    .discription{
        font-size:2em;
    }
}